.footer{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #424d00, #000000);
    padding: 40px;
    font-family: "REM";
    gap: 40px;
  }

.get{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1, p {
      color: aliceblue;
      margin: 0; // Elimina cualquier margen por defecto
      padding: 0; // Elimina cualquier padding por defecto
    }
    p{
      color: #d5f907;
    }
  }

.Contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    div{
    display: flex;
    flex-direction: column;
    align-items: center;
  h3, p{
    margin: 0; // Elimina cualquier margen por defecto
    padding: 0;
    color: aliceblue;
  }
  }
  }
.end{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name{
    display: flex;
    justify-content: center;

      h1 {
        font-size: 48px; /* Tamaño del texto */
        color: transparent; /* Sin color de relleno */
        -webkit-text-stroke: 1px #ffffff; /* Color del borde blanco */
        text-transform: uppercase; /* Texto en mayúsculas, si lo deseas */
      }

}
.line-black{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 800px;
  height: 2px;

}
