<div class="footer" id="contact">
  <div class="get">
    <h1>GET IN TOUCH</h1>
    <P>Let's Work Together</P>
  </div>

  <div class="Contact">
    <div>
      <img
        src="assets/img/llamada-telefonica.png"
        alt="telefono"
        width="50"
        height="50"
      />
      <h3>Mobile</h3>
      <p>+34 690873455</p>
    </div>
    <div>
      <img
        src="assets/img/gmail.png"
        alt="correo"
        srcset=""
        width="50"
        height="50"
      />
      <h3>Email</h3>
      <p>{{ "alvarezpaezsebastian03@gmail.com" }}</p>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/sebastian-alvarez-paez-566799271/">
        <img
          src="assets/img/linkedinVerde.png"
          alt="linkedin"
          srcset=""
          width="50"
          height="50"
        /></a>
        <h3>Linkedin</h3>
        <p>{{ "Sebastian Alvarez Paez" }}</p>
    </div>
    <div>
      <img
        src="assets/img/direction.png"
        alt="direction"
        width="50"
        height="50"
      />
      <h3>Address</h3>
      <p>Spain</p>
    </div>
  </div>
  <div class="end">
    <div class="line-black"></div>
    <div class="name">
      <h1>SEBASTIAN ALVAREZ PAEZ</h1>
    </div>
    <div class="line-black"></div>
  </div>
</div>
