<section id="aboutme">

    
    <div class="InfoMe">
      <div class="Bio" >
        <h1>MY BIOGRAPHY</h1>
        <div class="lineaVerde"></div>
        <div class="texto" data-aos="fade-right" data-aos-duration="3000">
<p>
          Desde pequeño, la tecnología ha sido mi pasión. He dedicado mi carrera
          a perfeccionar mis habilidades en desarrollo web, centrándome en
          tecnologías modernas como Angular, React y Node.js. Mi enfoque siempre
          está en crear soluciones que no solo sean visualmente atractivas, sino
          también altamente funcionales. Me encanta trabajar en proyectos donde
          la creatividad y la tecnología se encuentran.
        </p>
        </div>
        
      </div>

      <div class="softSkill" >
        <h3>Soft skills</h3>
        <div class="listSoft" data-aos="fade-left" data-aos-duration="2000">
          <div>
            <p>COMUNICACION ACERTIVA</p>
          </div>

          <div>
            <p>TRABAJO EN EQUIPO</p>
          </div>

          <div>
            <p>CREATIVIDAD</p>
          </div>

          <div>
            <p>RESOLUCION 
              DE PROBLEMAS</p>
          </div>

          <div>
            <p>PENSAMIENTO CRITICO</p>
          </div>

          <div>
            <p>ADAPTABILIDAD</p>
          </div>

          <div>
            <p>GESTION DEL TIEMPO</p>
          </div>

          <div>
            <p>AUTO APRENDIZAJE</p>
          </div>
        </div>
      </div>
    </div>

  <div class="skills">
    <div>
      <h2>TECHNOLOGIES</h2>
      <div class="lineaVerde"></div>
    </div>

    <div class="lenguajes" >
      <!-- <div class="lenguaje">
        <img src="assets/img/html.png" alt="HTML" width="50" height="50" />
        <h3>HTML</h3>
      </div> -->
      <!-- <div class="lenguaje">
        <img src="assets/img/css-3.png" alt="CSS" width="50" height="50" />
        <h3>CSS</h3>
      </div> -->
      <div class="lenguaje">
        <img src="assets/img/js.png" alt="JS" width="50" height="50" data-aos="fade-down-left" data-aos-duration="2000" />
        <h3>JAVASCRIPT</h3>
      </div>
      <div class="lenguaje">
        <img src="assets/img/node.png" alt="node" width="50" height="50" data-aos="fade-down-left" data-aos-duration="2000" />
        <h3>NODE</h3>
      </div>
      <!-- <div class="lenguaje">
        <img src="assets/img/docker.png" alt="docker" width="50" height="50" />
        <h3>DOCKER</h3>
      </div> -->
      <div class="lenguaje">
        <img
          src="assets/img/react_original_logo_icon_146374.png"
          alt="REACT"
          width="50"
          height="50"
         data-aos="fade-down-left" data-aos-duration="2000" />
        <h3>REACT</h3>
      </div>
      <div class="lenguaje">
        <img
          src="assets/img/file_type_angular_icon_130754.png"
          alt="ANGULAR"
          width="50"
          height="50"
         data-aos="fade-down-left" data-aos-duration="2000"/>
        <h3>ANGULAR</h3>
      </div>
      <div class="lenguaje">
        <img
          src="assets/img/file_type_git_icon_130581.png"
          alt="GIT"
          width="50"
          height="50"
       data-aos="fade-down-left" data-aos-duration="2000" />
        <h3>GIT</h3>
      </div>
      <div class="lenguaje">
        <img
          src="assets/img/python.png"
          alt="SASS"
          width="50"
          height="50"
       data-aos="fade-down-left" data-aos-duration="2000" />
        <h3>PYTHON</h3>
      </div> 
      <!-- <div class="lenguaje">
        <img
          src="assets/img/file_type_tailwind_icon_130128.png"
          alt="TAILWIND"
          width="50"
          height="50"
        />
        <h3>TAILWIND</h3>
      </div> -->
      <div class="lenguaje">
        <img
          src="assets/img/mysql.png"
          alt="MYSQL"
          width="50"
          height="50"
       data-aos="fade-down-left" data-aos-duration="2000" />
        <h3>MYSQL</h3>
      </div>
    </div>
  </div>

  <div class="Experience">
    <div><h1>EXPERIENCE</h1>
      <div class="lineaVerde"></div>
    </div>
      <div class="Exp">
        <div class="Exp-title">
          <h2>Qualentum</h2>
          <p>Front end Developer</p>
          <p>12/2023-09/2024</p>
        </div>
        <div class="text" data-aos="fade-left"
     data-aos-duration="5000">
          <p>
            Construí interfaces de usuario amigables utilizando HTML, CSS y
            JavaScript. Trabajé en equipo para desarrollar código limpio y
            optimizado, enfocándome en la mejora continua. Reforce en la
            migración de aplicaciones de Angular a diferentes, mejorando el
            rendimiento y la mantenibilidad del código. desarrollé componentes
            reutilizables en Angular para optimizar el desarrollo y mantener la
            consistencia en las aplicaciones
          </p>
        </div>
      </div>

      <div class="Exp">
        <div class="Exp-title">
          <h2>Deevly.io</h2>
          <p>Front end Developer</p>
          <p>08/2023-10/2023</p>
        </div>
        <div class="text" data-aos="fade-left"
     data-aos-duration="5000">
          <p>
            Actualicé y optimicé sitios web según los requerimientos del
            cliente, utilizando la tecnología más adecuada para cada proyecto.
            Aseguré que cada sitio entregado fuera rápido, accesible y
            visualmente atractivo. Aplicación de Buenas Prácticas y Metodologías
            Ágiles
          </p>
        </div>
      </div>
      <div class="Exp">
        <div class="Exp-title">
          <h2>Gamma tech</h2>
          <p>Front end Developer</p>
          <p>03/2023-08/2023</p>
        </div>
        <div class="text" data-aos="fade-left"
     data-aos-duration="5000">
          <p>
            Puse en práctica mis conocimientos en desarrollo web, optimizando
            código, implementando bibliotecas y APIs, y gestionando ramas de
            código para mejorar la eficiencia de las aplicaciones. Desarrollé e
            integré servicios Angular con APIs RESTful, asegurando una
            comunicación eficiente y segura entre frontend y backend
          </p>
        </div>
      </div>
    </div>
  
</section>
