.bio-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lineaVerde {
  background-color: #adff2f;
  width: 200px;
  height: 5px;
}
.InfoMe {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  .bio{
    p{
      padding: 0;
    }
  }

  // padding: 20px;
  h1 {
    color: aliceblue;
  }
  p {
    color: aliceblue;
  }
}
.about-me {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;

  .acompañamiento {
    img {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%; /* Cambiar el radio de borde a 50% para que sea un círculo */
      width: 100px; /* Reducir el tamaño de la imagen */
      z-index: 999;
      animation: rotar 5s linear infinite;
    }
  }
  @keyframes rotar {
    from {
      transform: rotatey(180deg);
    }
    to {
      transform: rotatey(360deg);
    }
  }
}
.skills {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #161616;
  h2 {
    color: aliceblue;
    margin: 0; // Elimina cualquier margen por defecto
    padding: 0;
  }

  .lenguajes {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
}
.lenguaje {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    border-radius: 10px;
    transform: scale(1.15);
    box-shadow: 0 0 10px 3px #adff2f;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
  }
}
.softSkill {
  h3 {
    color: aliceblue;
  }
  display: flex;
  flex-direction: column;
  // gap: 8px;
  flex-wrap: wrap;
  justify-content: space-around;
  .listSoft {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    div {
      p {
        font-size: 8px;
      }
      display: flex;
      background-color: transparent;
      padding: 5px;
      border-radius: 18px;
      border: 2px solid beige;
      width: max-content;
      &:hover {
        background-color: #adff2f;
        border-radius: 10px;
        transform: scale(1.15);
        border-bottom: 2px solid transparent;
        transition: border-bottom-color 0.3s ease;
      }
    }
  }
}
.Experience {
  background-color: black;
  padding: 70px;
  h2,
  h1 {
    color: white;
  }
  p {
    color: rgba(255, 255, 255, 0.7); // Blanco con opacidad del 70%
  }

  .Exp-title {
    display: flex;
    flex-direction: column;
    gap: 0; // Asegúrate de que no haya espacio entre los elementos
    h2,
    p {
      margin: 0; // Elimina cualquier margen por defecto
      padding: 0; // Elimina cualquier padding por defecto
    }
  }
  .Exp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
}

.text {
  width: 500px;
}
