<section id="proyects">
  <div class="name">
    <h1>PROYECTOS</h1>
    
  </div>
  <div class="proyects">
   
    <div class="Proyectos">
       <div class="namePro">
      <h2>SEELS WEB</h2>
      <div class="lineaVerde"></div>
    </div>
      <img src="../../assets/img/Captura de pantalla 2025-10-20 130019.png" alt="SEELS" width="250px">
      <p>Pagina web de empresa SEELS. <br>
       Diseño responsive y simple pero efectivo, se implemento una base de datos relacional
        con supabase para almacenar futuros usuarios, para el host se realizo en vercel y con
        su propio dominio.
      </p>
      <p>Se utilizo: Angular, Supabase, SASS, Git hub, Vercel.</p>
    </div>
  </div>
</section>
