section{
  background-color: #ADFF2F;

}
.proyects{
  display: flex;
  justify-content: space-around;
  padding: 50px;

  div{
    a {
      text-decoration: none; /* Quita el subrayado */
      color: inherit; /* Usa el color de texto predeterminado */
    }


  }
}
