<section id="proyects">
  <div class="proyects">
    <div>
      <a href="https://veemax.000webhostapp.com/">
        <img
          src="assets/img/Captura de pantalla 2024-04-01 195841.png"
          alt="MOVIE-APP"
          width="300"
        />
      </a>
    </div>
    <div>
      <a href="https://cofedealtura.000webhostapp.com/">
        <img
          src="assets/img/Captura de pantalla 2024-04-01 195906.png"
          alt="CAFEDEALTURA"
          width="300"
        />
      </a>
    </div>
    <div>
      <a href="https://climaapiapp.000webhostapp.com/">
        <img
          src="assets/img/Captura de pantalla 2024-04-01 195931.png"
          alt="CLIMA-APP"
          width="220"
        />
      </a>
    </div>
  </div>
</section>
