nav{
  background-color:  #14142c;
  padding: 0.5px;
  position: fixed; /* Hace que el nav se mantenga fijo en la parte superior */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  top: 0; /* Se fija en la parte superior de la pantalla */
}
.nav-information{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgba(255, 255, 255, 0.8);
  list-style: none;
  cursor: default;
  a {
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Usa el color de texto predeterminado */
  }
 li{
  position: relative; // Se añade posición relativa para alinear la línea correctamente

  // Añadir un borde inferior transparente por defecto
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
  cursor: inherit;
  &:hover{
    color:#7B4AE2;
    border-bottom: 2px solid #7B4AE2; // Línea inferior al hacer hover
    box-shadow: 0 2px 4px rgba(0, 178, 191, 0.1); // Sombra al hacer hove
  }
 }
}

