<section id="aboutme">
  <h2>ABOUT ME 🧐</h2>
<div class="about-me" >
<div class="me">
  <p>Soy un entusiasta aprendiz de programador Web FrontEnd, con un trasfondo inicial en el sector culinario. A pesar de mi experiencia en cocina, descubrí mi verdadera pasión en la tecnología y estoy emocionado de sumergirme en este campo. Mi viaje comenzó en la gastronomía, donde adquirí habilidades en la cocina y desarrollé una ética de trabajo y atención al detalle. Sin embargo, mi curiosidad por la tecnología nunca disminuyó, y aproveché la oportunidad de explorar este mundo fascinante. Actualmente, estoy enfocado en aprender y mejorar mis habilidades como programador Web FrontEnd. Mi determinación y deseo de crecer en este campo me impulsan a buscar constantemente nuevas oportunidades y desafíos. Estoy comprometido con mi desarrollo profesional y emocionado por cada paso en esta travesía tecnológica. Estoy abierto a colaborar en proyectos, compartir ideas y charlar sobre nuestras experiencias en el mundo tecnológico. ¡No dudes en ponerte en contacto conmigo!



  </p>
</div>
<div class="acompañamiento">
  <img src="../../assets/img/home3.jpg" alt="expectativa" >
</div>
</div>

<section id="skills" ></section>
<div class="skills" >
  <h2>SKILLS 🦾</h2>
  <div class="lenguajes">
    <H2>LENGUAJES</H2>
    <div class="lenguaje">
      <img src="../../assets/img/html.png" alt="HTML" width="50" height="50">
      <h3>HTML</h3>
    </div>
    <div class="lenguaje">
      <img src="../../assets/img/css-3.png" alt="CSS" width="50" height="50">
      <h3>CSS</h3>
    </div>
    <div class="lenguaje">
      <img src="../../assets/img/js.png" alt="JS" width="50" height="50">
      <h3>JAVASCRIPT</h3>
    </div>
  </div>
  <div class="framewokrs">
    <H2>FRAMEWORKS AND LIBRARIES</H2>
    <div class="lenguaje">
      <img src="../../assets/img/react_original_logo_icon_146374.png" alt="REACT" width="50" height="50">
      <h3>REACT</h3>
    </div>
    <div class="lenguaje">
      <img src="../../assets/img/file_type_angular_icon_130754.png" alt="ANGULAR" width="50" height="50">
      <h3>ANGULAR</h3>
    </div>
    <div class="lenguaje">
      <img src="../../assets/img/file_type_git_icon_130581.png" alt="GIT" width="50" height="50">
      <h3>GIT</h3>
    </div>
    <div class="lenguaje">
      <img src="../../assets/img/sass_icon_130835.png" alt="SASS" width="50" height="50">
      <h3>SASS</h3>
    </div>
    <div class="lenguaje">
      <img src="../../assets/img/file_type_tailwind_icon_130128.png" alt="TAILWIND" width="50" height="50">
      <h3>TAILWIND</h3>
    </div>
    <div class="lenguaje">
      <img src="../../assets/img/webpack_plain_logo_icon_146297.png" alt="WEBPACK" width="50" height="50">
      <h3>WEBPACK</h3>
    </div>
  </div>
</div>
<section  id="softskills"></section>
<h2>SOFT SKILLS 👊</h2>
<div class="soft-skills" id="softskills">


    <div>
      <p>COMUNICACION ACERTIVA</p>
      <img src="../../assets/img/comunicacion.png" alt="comunicacion" width="50" height="50">
    </div>
   <div>
    <p>TRABAJO EN EQUIPO</p>
    <img src="../../assets/img/idea-genial.png" alt="trabajoequipo" width="50" height="50">
   </div>
   <div>
    <p>CREATIVIDAD</p>
    <img src="../../assets/img/creatividad.png" alt="creatividad" width="50" height="50">
   </div>
   <div>
    <p>RESOLUCION DE PROBLEMAS </p>
    <img src="../../assets/img/solucion.png" alt="solucion" width="50" height="50">
   </div>
   <div>
    <p>PENSAMIENTO CRITICO</p>
    <img src="../../assets/img/mentalidad.png" alt="mentalidad" width="50" height="50">
   </div>
   <div>
    <p>ADAPTABILIDAD</p>
    <img src="../../assets/img/adaptarse-al-cambio.png" alt="cambio" width="50" height="50">
   </div>
   <div>
    <p>GESTION DEL TIEMPO</p>
    <img src="../../assets/img/cronografo.png" alt="tiempo" width="50" height="50">
   </div>
   <div>
    <p>ATENCION AL DETALLE</p>
    <img src="../../assets/img/formulario-de-contacto.png" alt="detalle" width="50" height="50">
   </div>
   <div>
    <p>AUTOAPRENDIZAJE</p>
    <img src="../../assets/img/aprendizaje-automatico.png" alt="aprendizaje" width="50" height="50">
   </div>

</div>


</section>
