section[id]{
  scroll-margin-top: 70px;
}
body{

  background-color: #0d133e ;
  font-family: "Dosis";
  color:rgba(255, 255, 255, 0.8);;
  h2{
    color: #7346d4 ;
  }
}
/* You can add global styles to this file, and also import other style files */
