section{
  margin-right: 6rem;
  margin-left: 6rem;
}
.proyects{
  display: flex;

  div{
    a {
      text-decoration: none; /* Quita el subrayado */
      color: inherit; /* Usa el color de texto predeterminado */
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    display: flex;
    background-color: #14142c;
    border-radius: 5px;
    border: 2px solid #3b286f  ;
    &:hover{
      border-radius: 10px;
      transform: scale(1.15);
      box-shadow: 0 0 10px 3px rgba(14, 136, 230, 0.7);
      border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
    }
  }
}
