

<section id="proyects" >
  <h2>PROYECTS 🤓</h2>
  <div class="proyects">
    <div>
<a href="https://veemax.000webhostapp.com/">
      <h3>MOVIE APP</h3>
      <p>Proyecto de una aplicacion de peliculas llamado VEEMAX, se realizo con JAVASCRIPT vanilla y las imagenes con la informacion es de una API. </p>
      <img src="../../assets/img/Captura de pantalla 2024-04-01 195841.png" alt="MOVIE-APP" width="200">
    </a>
    </div>
    <div>
<a href="https://cofedealtura.000webhostapp.com/">
      <h3>CAFE DE ALTURA</h3>
      <p>Proyecto de una tienda virtual llamada cafe de altura, se realizo con una API privada y con REACT.</p>
      <img src="../../assets/img/Captura de pantalla 2024-04-01 195906.png" alt="CAFEDEALTURA" width="200">
    </a>
    </div>
    <div>
<a href="https://climaapiapp.000webhostapp.com/">
      <h3>CLIMA</h3>
      <p>Proyecto con una API y JAVASCRIPT vanilla de una app para ver el clima de cualquier ciudad el mundo.</p>
      <img src="../../assets/img/Captura de pantalla 2024-04-01 195931.png" alt="CLIMA-APP" width="200">
    </a>
    </div>
    <div>
      <img src="" alt="">
      <h3>MENU GAME</h3>
    </div>
  </div>

</section>
