.home{
  margin-top: 80px;
}

.container-name{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Name{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
p{
  color: #ADFF2F;
}
h1{
  color: aliceblue;
  ;
}
.text{
  color: aliceblue;
}
.Container-web{
  font-size: 10px;
  color: black;
  background-color: #ADFF2F;
  width: max-content;
}
}
.foto{
  img{
    border-radius: 150px;
  }

}
.Networks{
width: max-content;
  background-color: #131d62 ;
  padding: 8px;;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  gap: 10px;
  img{
    &:hover{
      border-radius: 10px;
      transform: scale(1.15);
      box-shadow: 0 0 10px 3px rgba(14, 136, 230, 0.7);
      border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
    }
  }

}
