.home{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.foto{
  border-radius: 50px;
}
.Networks{
width: max-content;
  background-color: #131d62 ;
  padding: 8px;;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  gap: 10px;
  img{
    &:hover{
      border-radius: 10px;
      transform: scale(1.15);
      box-shadow: 0 0 10px 3px rgba(14, 136, 230, 0.7);
      border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
    }
  }

}
.container-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3{
    color: green;
  }
}
