<div class="home">

<div class="foto">

<img ngSrc="../../assets/img/home2.jpg" alt="programador " srcset="" width="500" height="500">

</div>
<div class="container-name">
  <div class="Name">
    <h1>
      SEBASTIAN ALVAREZ PAEZ 🤖
    </h1>
    <h3>FRONT END DEVELOPER &lt;/&gt; 👨‍💻</h3>


    </div>


    <div class="Networks">

      <a href="https://www.linkedin.com/in/sebastian-alvarez-paez-566799271/"><img ngSrc="../../assets/img/linkedin.png" alt="linkeding" srcset="" width="35" height="35"></a>
      <a href="https://github.com/Sebastian0328"><img ngSrc="../../assets/img/github.png" alt="github" srcset="" width="35" height="35"></a>
     <a href="https://drive.google.com/file/d/1TH6FAr-TzmkKrvnlAr2NlFc8pvdlDtcU/view?usp=sharing"><img ngSrc="../../assets/img/curriculum.png" alt="cv" srcset="" width="35" height="35"></a>
    </div>

</div>

</div>
